<div class="d-flex justify-content-between align-items-center">
  <h2>{{data.action | titlecase}}</h2>
  <p *ngIf="data.action==='update'" class="mat-caption">{{mediaObject._id}}</p>
</div>

<form #entityForm="ngForm" id="entityForm" novalidate>
  <mat-form-field class="w-100">
    <mat-label>Alternative Text</mat-label>
    <input [(ngModel)]="alternativeText" autocomplete="off" matInput name="alternativeText">
    <mat-icon matSuffix>text_fields</mat-icon>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Caption</mat-label>
    <input [(ngModel)]="caption" autocomplete="off" matInput name="caption">
    <mat-icon matSuffix>text_fields</mat-icon>
  </mat-form-field>
  <app-single-file-upload [(ngModel)]="mediaObject" [standAlone]="true" name="images" title="Image"
                          [canAddFiles]="data.action === 'create'"></app-single-file-upload>
  <div class="d-flex justify-content-end">
    <ng-container>
      <button (click)="save()" *ngIf="!isLoading; else loadingButton"
              [disabled]="entityForm.pristine || (mediaObject === null || mediaObject.url === null)"
              color="primary" mat-raised-button>Save
      </button>
      <ng-template #loadingButton>
        <button color="accent" disabled mat-raised-button>
          <mat-spinner class="m-2" diameter="20"></mat-spinner>
        </button>
      </ng-template>
    </ng-container>
  </div>
</form>
