<div class="d-flex flex-column file-upload-container mb-3">
  <div #dropZone class="p-3" id="dropZone">
    <div class="container-bg">
      <p class="my-0">Drop files here to upload</p>
      <mat-icon>image</mat-icon>
    </div>
    <mat-chip-list class="mat-chip-list-stacked">
      <mat-chip (removed)="remove(file)" *ngFor="let file of files"
                [removable]="true" [selected]="file.url !== undefined" class="justify-content-between" color="primary">
        <ng-container *ngIf="file !== null && file.url else notYetUploaded">
          <img *ngIf="file.thumbnail" [src]="file.thumbnail.url" alt="" height="24" width="24">
          {{file.hash + file.ext}}
        </ng-container>
        <ng-template #notYetUploaded>
          {{file.name}}
        </ng-template>
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <button (click)="upload()" *ngIf="!isLoading; else loadingButton" [disabled]="!canUpload()" color="primary" mat-raised-button>Upload</button>
  <ng-template #loadingButton>
    <button color="accent" disabled mat-raised-button>
      <mat-spinner class="m-2" diameter="20"></mat-spinner>
    </button>
  </ng-template>
</div>
