<mat-card class="m-3 mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>Users</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="d-flex justify-content-between ml-3">
      <div>
        <mat-form-field *ngIf="dataSource.page$ | async as page">
          <mat-label>Filter</mat-label>
          <input (ngModelChange)="dataSource.queryTrigger($event)" [ngModel]="page.query" autocomplete="off" matInput>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-end">
        <div class="mr-3">
          <button [disabled]="dataSource.selection.selected.length === 0" [matMenuTriggerFor]="tableActionsMenu"
                  color="accent"
                  mat-raised-button>{{dataSource.selection.selected.length}}
            Selected
          </button>
          <mat-menu #tableActionsMenu="matMenu">
            <button (click)="deleteSelected()" mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Delete selected</span>
            </button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
        <button (click)="createDialog()" aria-label="Create" color="primary" mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>


    <mat-table (matSortChange)="dataSource.sortingTrigger($event)"
               [dataSource]="dataSource" [matSortActive]="sort.active"
               [matSortDirection]="sort.direction" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? dataSource.masterToggle() : null"
                        [checked]="dataSource.selection.hasValue() && dataSource.isAllSelected()"
                        [indeterminate]="dataSource.selection.hasValue() && !dataSource.isAllSelected()"
          ></mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (change)="$event ? dataSource.selection.toggle(row) : null"
                        (click)="$event.stopPropagation()"
                        [checked]="dataSource.selection.isSelected(row)"
          ></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row" (dblclick)="editDialog(row)">{{row._id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email" >
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let row" (dblclick)="editDialog(row)">{{row.email}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row" (dblclick)="editDialog(row)">{{row.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
        <mat-cell *matCellDef="let row" (dblclick)="editDialog(row)">{{row.role.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="isVerified">
        <mat-header-cell *matHeaderCellDef mat-sort-header>IsVerified</mat-header-cell>
        <mat-cell *matCellDef="let row" (dblclick)="editDialog(row)">{{row.isVerified}}</mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator (page)="dataSource.paginationTrigger($event.pageIndex, $event.pageSize)"
                   *ngIf="dataSource.page$ | async as page" [length]="page.totalItems"
                   [pageIndex]="page.pageNumber" [pageSizeOptions]="[5, 10, 20, 50]"
                   [pageSize]="page.pageSize" showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>
</mat-card>
