<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(isSmall$ | async) ? 'dialog' : 'navigation'" [mode]="(isSmall$ | async) ? 'over' : 'side'"
               [opened]="(isSmall$ | async) === false"
               class="sidenav"
               fixedInViewport>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let link of routerLinks | noHomeNavLinks" [routerLink]="link.path" mat-list-item
         routerLinkActive="mat-list-item-active">
        <mat-icon class="mr-3">{{link.data.icon}}</mat-icon>
        {{ link.data.slug}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        *ngIf="isSmall$ | async"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>neth-ng</span>
      <span class="flex-fill"></span>
      <button (click)="auth()" aria-label="Favorite" mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button (click)="openLoginDialog()" aria-label="Login" mat-icon-button>
        <mat-icon>person_outline</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

