<div class="d-flex justify-content-between align-items-center">
  <h2>{{data.action | titlecase}}</h2>
  <p *ngIf="data.action==='update'" class="mat-caption">{{product._id}}</p>
</div>

<form #entityForm="ngForm" id="entityForm" novalidate>
  <mat-form-field class="w-100">
    <mat-label>Name</mat-label>
    <input [(ngModel)]="product.name" autocomplete="off" matInput name="name">
    <mat-icon matSuffix>text_fields</mat-icon>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Description</mat-label>
    <input [(ngModel)]="product.description" autocomplete="off" matInput name="description">
    <mat-icon matSuffix>text_fields</mat-icon>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Price</mat-label>
    <input [(ngModel)]="product.price" autocomplete="off" matInput name="price" type="number">
    <mat-icon matSuffix svgIcon="neth:numeric"></mat-icon>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>ManufactureDate</mat-label>
    <input [(ngModel)]="product.manufactureDate" [matDatepicker]="picker" autocomplete="off" matInput
           name="manufactureDate">
    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <p>Images</p>
  <app-file-upload [(ngModel)]="product.images" [standAlone]="false" name="images"></app-file-upload>
  <div class="d-flex justify-content-end">
    <ng-container>
      <button (click)="save()" *ngIf="!isLoading; else loadingButton" [disabled]="entityForm.pristine"
              color="primary" mat-raised-button>Save
      </button>
      <ng-template #loadingButton>
        <button color="accent" disabled mat-raised-button>
          <mat-spinner class="m-2" diameter="20"></mat-spinner>
        </button>
      </ng-template>
    </ng-container>
  </div>
</form>
