<div class="d-flex justify-content-between ml-3">
  <div>
    <mat-form-field *ngIf="dataSource.page$ | async as page">
      <mat-label>Filter</mat-label>
      <input (ngModelChange)="dataSource.queryTrigger($event)" [ngModel]="page.query" autocomplete="off" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-end">
    <div class="mr-3">
      <button [disabled]="dataSource.selection.selected.length === 0" [matMenuTriggerFor]="tableActionsMenu"
              color="accent"
              mat-raised-button>{{dataSource.selection.selected.length}}
        Selected
      </button>
      <mat-menu #tableActionsMenu="matMenu">
        <button (click)="addSelected()" mat-menu-item>
          <mat-icon>add</mat-icon>
          <span>Add selected</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>

<mat-table (matSortChange)="dataSource.sortingTrigger($event)"
           [dataSource]="dataSource" [matSortActive]="sort.active"
           [matSortDirection]="sort.direction" matSort>

  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? dataSource.masterToggle() : null"
                    [checked]="dataSource.selection.hasValue() && dataSource.isAllSelected()"
                    [indeterminate]="dataSource.selection.hasValue() && !dataSource.isAllSelected()"
      ></mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (change)="$event ? dataSource.toggle(row) : null"
                    (click)="$event.stopPropagation()"
                    [checked]="dataSource.isSelected(row)"
      ></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="_id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row._id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="url">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Url</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a [href]="row.url" target="_blank" class="cell-file">
        <img *ngIf="row.thumbnail else fileIcon" [matTooltip]="row.url" [src]="row.thumbnail.url">
        <ng-template #fileIcon>
          <mat-icon [matTooltip]="row.url">file_download</mat-icon>
        </ng-template>
      </a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="alternativeText">
    <mat-header-cell *matHeaderCellDef mat-sort-header>AlternativeText</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.alternativeText}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="caption">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Caption</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.caption}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="mime">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Mime</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.mime}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="width">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Width</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.width}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="height">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Height</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.height}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="size">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Size</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.size}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
<mat-paginator (page)="dataSource.paginationTrigger($event.pageIndex, $event.pageSize)"
               *ngIf="dataSource.page$ | async as page" [length]="page.totalItems"
               [pageIndex]="page.pageNumber" [pageSizeOptions]="[5, 10, 20, 50]"
               [pageSize]="page.pageSize" showFirstLastButtons>
</mat-paginator>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button mat-raised-button color="accent">Cancel</button>
  <button [mat-dialog-close]="dataSource.selection.selected"
          [disabled]="dataSource.selection.selected.length === 0" color="primary" mat-raised-button>
    Add {{dataSource.selection.selected.length}} Selected
  </button>
</div>
