@import '~@angular/material/theming';

@mixin file-upload-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $is-dark-theme: map-get($config, is-dark);
  // Define any styles affected by the theme.

  .file-upload-title {
    margin-bottom: 6px !important;
    color: mat-color($foreground, secondary-text);
  }
  .file-upload-container {
    border-radius: 4px;
    position: relative;
    border: 1px solid mat-color($foreground, divider, if($is-dark-theme, 0.7, 0.42));
    background-color: mat-color($background, card);

    #dropZone {
      min-height: 150px;
      max-height: 400px;
      overflow: auto;
    }

    .container-bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      color: mat-color($foreground, secondary-text);
      user-select: none;
      text-align: center;

      mat-icon {
        width: 72px;
        height: 72px;
        font-size: 72px;
      }
    }

    .mat-raised-button {
      position: absolute;
      right: 16px;
      bottom: 16px;
    }

    .mat-mini-fab {
      position: absolute;
      left: 16px;
      bottom: 16px;
    }
  }
}

@mixin file-upload-typography($theme) {
  // Extract the typography configuration in case a theme has been passed.
  $config: mat-get-typography-config($theme);

  .candy-carousel {
    font: {
      family: mat-font-family($config, body-1);
      size: mat-font-size($config, body-1);
      weight: mat-font-weight($config, body-1);
    }
  }
}

@mixin file-upload-theme($theme) {
  // Extracts the color and typography configurations from the theme.
  $color: mat-get-color-config($theme);
  $typography: mat-get-typography-config($theme);

  // Do not generate styles if configurations for individual theming
  // systems have been explicitly set to `null`.
  @if $color != null {
    @include file-upload-color($color);
  }
  @if $typography != null {
    @include file-upload-typography($typography);
  }
}
