<form #entityForm="ngForm" id="entityForm" novalidate>
  <mat-form-field class="w-100">
    <mat-label>Title</mat-label>
    <input [(ngModel)]="book.title" autocomplete="off" matInput name="title">
    <mat-icon matSuffix>text_fields</mat-icon>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Isbn</mat-label>
    <input [(ngModel)]="book.isbn" autocomplete="off" matInput name="isbn" type="number">
    <mat-icon matSuffix svgIcon="neth:numeric"></mat-icon>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Author</mat-label>
    <input matInput [matAutocomplete]="authorAuto" [(ngModel)]="book.author" (ngModelChange)="authorChanged($event)"
           autocomplete="off" name="author">
    <mat-spinner *ngIf="isLoadingAuthors" diameter="20" matSuffix></mat-spinner>
    <mat-autocomplete #authorAuto="matAutocomplete" [displayWith]="authorDisplayFn">
      <mat-option *ngFor="let author of filteredAuthors | async" [value]="author">
        {{author.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="w-100 mb-3">
    <mat-label>IsPublished</mat-label>
    <mat-slide-toggle [(ngModel)]="book.isPublished" name="isPublished"></mat-slide-toggle>
  </div>
<!--  <mat-form-field class="w-100">-->
<!--    <mat-label>Cover</mat-label>-->
<!--    <input matInput [matAutocomplete]="coverAuto" [(ngModel)]="book.cover" (ngModelChange)="changedCover($event)"-->
<!--           autocomplete="off" name="cover">-->
<!--    <mat-spinner *ngIf="isLoadingCovers" diameter="20" matSuffix></mat-spinner>-->
<!--    <mat-autocomplete #coverAuto="matAutocomplete" [displayWith]="displayCoverFn">-->
<!--      <mat-option *ngFor="let cover of filteredCovers | async" [value]="cover">-->
<!--        {{cover.name}}-->
<!--      </mat-option>-->
<!--    </mat-autocomplete>-->
<!--  </mat-form-field>-->
  <app-single-file-upload [(ngModel)]="book.cover" [standAlone]="false" name="cover" title="Cover"
                          [canAddFiles]="true"></app-single-file-upload>
  <mat-form-field class="w-100">
    <mat-label>PublishedAt</mat-label>
    <input [(ngModel)]="book.publishedAt" [matDatepicker]="picker1" autocomplete="off" matInput
           name="publishedAt">
    <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <div class="d-flex justify-content-end">
    <ng-container>
      <button (click)="save()" *ngIf="!isLoading; else loadingButton" [disabled]="entityForm.pristine"
              color="primary" mat-raised-button>Save
      </button>
      <ng-template #loadingButton>
        <button color="accent" disabled mat-raised-button>
          <mat-spinner class="m-2" diameter="20"></mat-spinner>
        </button>
      </ng-template>
    </ng-container>
  </div>
</form>
